html{
   scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: monospace;
}

header{
    width: 100%;
    height: 68px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 4px solid black;
    position: relative;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header li{
    list-style: none;
    font-size: 20px;
}
header a{
    margin-right: 45px;
    text-decoration: none;
    color: black;
}

.header-a:hover{
   color: blue;
   font-size: 30px;
}
.header-a{
   display: flex;
   transition: 0.5s linear;
}
.bar{
   display: none;
   overflow: hidden;
}
/*----------------
    Main-start 
 ----------------*/
 main{
    margin-top: 0px;
    width: 100%;
    height: 740px;
    margin: 0px;
 }
 .title-section{
    display: flex;
    width: 100%;
    height: 740px;
    position: absolute;
    top: 70px;
 }
 .left-main{
    width: 50%;
    background-color: white;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .right-main{
    width: 50%;
    background-color: black;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .left-text{
    width: 300px;
 }
 .right-text{
    width: 300px;
 }

 .left-text h1{
    font-size: 90px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
    letter-spacing: 6px;
 }
 .left-text h2{
    font-size: 30px;
    margin: 0px;
    font-weight: 500;
    letter-spacing: 2px;
 }
 .right-text h1{
    font-size: 45px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
    color: white; 
 }
 .right-text p{
    color: white;
 }


 /* image  */
 .image{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .image img{
    width: 300px;
    border-radius: 60px;
 }

/* Main-end */

/*------------------------
          About Me  
  -----------------------*/
.about-me{
   width: 100%;
   height: 700px;
   border-bottom: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
}
.about-me-title{
   width: 400px;
   margin-left: 50px;
}
.list{
   width: 300px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.about-me img{
   width: 300px;
   border-radius: 30px;
}
.about-me-title h1{
   font-size: 45px;
}
.about-me-title h2{
   font-size: 25px;
}
.about-me-title p{
   font-size: 14px;
}
.about-me-title li{
   font-size: 14px;
}

/*--------------------------
        About Me Ends  
---------------------------*/
.contact-me{
   width: 100%;
   height: 700px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 2px solid black;
}
.email{
   border: 2px solid black;
   padding: 10px 30px;
}
.contact-me h1{
   font-size: 40px;
}
.contact-me h2{
   font-size: 50px;
}


.footer{
    margin: 0px;
    padding-top: 10px;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer h1{
    font-size: 35px;
}
.footer ul{
    display: flex;
    justify-content: space-around;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    margin-right: 35px;
    color: black;
    font-size: 35px;
}
.footer a:hover{
   color: blue;
   transform: translateY(-10px);
}
.footer a{
   display: flex;
   transition: 0.2s linear;
}



@media (max-width: 1300px) {
   main{
      height: 650px;
   }
   .title-section{
      height: 650px;
   }
   .image{
      height: 650px;
   }
   .left-text{
      width: 250px;
   }
   .left-text h1{
      font-size: 50px;
   }
   .left-text h2{
      font-size: 25px;
   }
   .left-text p{
      font-size: 13px;
   }
   .right-text h1{
      font-size: 35px;
   }
   .right-text{
      font-size: 13px;
   }
   .right-text{
      width: 250px;
   }
   .image img{
      width: 250px;
   }
}

@media (max-width: 1150px) {
   main{
      height: 600px;
   }
   .title-section{
      height: 600px;
   }
   .image{
      height: 600px;
   }
   .left-text{
      width: 200px;
   }
   .left-text h1{
      font-size: 40px;
   }
   .left-text h2{
      font-size: 20px;
   } 
   .left-text p{
      font-size: 10px;
   }
   .right-text h1{
      font-size: 30px;
   }
   .right-text p{
      font-size: 10px;
   }
   .right-text{
      width: 200px;
   }
   .image img{
      width: 220px;
   }
}

@media (max-width: 950px) {
   main{
      height: 600px;
   }
   .title-section{
      height: 600px;
   }
   .image{
      height: 600px;
   }
   .left-text{
      width: 150px;
   }
   .left-text h1{
      font-size: 30px;
   }
   .left-text h2{
      font-size: 15px;
   } 
   .left-text p{
      font-size: 10px;
   }
   .right-text h1{
      font-size: 25px;
      margin-bottom: 0px;
      letter-spacing: 2px;
   }
   .right-text p{
      font-size: 10px;
   }
   .right-text{
      width: 150px;
   }
   .image img{
      width: 200px;
   }
}

@media (max-width: 850px) {
   .contact-me h1{
      font-size: 30px;
   }
   .contact-me{
      height: 600px;
   }
}

@media (max-width: 800px) {
   main{
      height: 1600px;
   }
   .title-section{
      flex-direction: column;
      height: 1600px;
   }
   .left-main{
      width: 100%;
      height: 800px;
      align-items: first baseline ;
   }
   .right-main{
      width: 100%;
      height: 800px;
   }
   .image{
      height: 1600px;
   }
   .left-text{
      width: 400px;
      margin-top: 40px;
   }
   .left-text h1{
      font-size: 90px;
      font-weight: 700;
      margin: 0px;
      margin-bottom: 10px;
      letter-spacing: 6px;
   }
   .left-text h2{
      font-size: 30px;
      margin: 0px;
      font-weight: 500;
      letter-spacing: 2px;
   }
   .left-text p{
      font-size: 17px;
   }
   .right-text{
      width: 400px;
      margin-top: 250px;
   }
   .right-text h1{
      font-size: 45px;
      font-weight: 700;
      margin: 0px;
      margin-bottom: 10px;
   }
   .right-text p{
     font-size: 17px;
   }
   .image img{
      width: 400px;
   }
   header a{
      margin-right: 25px;
   }
   .right-nav{
      display: none;
      overflow: hidden;
   }
   .bar{
      display: block;
      overflow: visible;
   }
   .about-me{
      height: 1200px;
      flex-direction: column;
   }
   .about-me-title{
      order: 1;
      margin-bottom: 50px;
      margin-left: 0px;
   }
   .about-me-photo{
      order: 2;
   }
}


@media (max-width: 650px) {
   .footer{
      flex-direction: column;
      height: 90px;
      justify-content: center;
      align-items: center;
   }
   .contact-me{
      height: 450px;
   }
   .contact-me h1{
      font-size: 25px;
   }
   .contact-me h2{
      font-size: 30px;
   }
}
@media (max-width: 550px) {
   .contact-me{
      height: 400px;
   }
   .email{
      padding: 4px 10px;
   }
   .contact-me h1{
      font-size: 21px;
   }
   .contact-me h2{
      font-size: 25px;
   }
}

@media (max-width: 450px) {
   .right-text{
      width: 300px;
   }
   .left-text{
      width: 300px;
   }
   .image img{
      width: 300px;
   }
   .about-me-title{
      width: 300px;
   }
   .about-me img{
      width: 250px;
   }
   .contact-me h1{
      font-size: 19px;
   }
}